[submodule "cookbooks/htop"]
	path = cookbooks/htop
	url = https://github.com/phlipper/chef-htop.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build
[submodule "cookbooks/subversion"]
	path = cookbooks/subversion
	url = git@github.com:benjaminvialle/MarkUs-cookbook-subversion.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:benjaminvialle/MarkUs-cookbook-postgresql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = git@github.com:benjaminvialle/MarkUs-cookbook-users.git
[submodule "cookbooks/bash"]
	path = cookbooks/bash
	url = git@github.com:benjaminvialle/MarkUs-cookbook-bash.git
[submodule "cookbooks/openssh"]
	path = cookbooks/openssh
	url = git@github.com:benjaminvialle/openssh.git
[submodule "cookbooks/chef-solo-search"]
	path = cookbooks/chef-solo-search
	url = https://github.com/edelight/chef-solo-search.git
[submodule "cookbooks/markus"]
	path = cookbooks/markus
	url = git@github.com:benjaminvialle/MarkUs-cookbook-markus.git
[submodule "cookbooks/database"]
	path = cookbooks/database
	url = https://github.com/opscode-cookbooks/database.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = git@github.com:benjaminvialle/nginx.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai
[submodule "cookbooks/unicorn"]
	path = cookbooks/unicorn
	url = https://github.com/opscode-cookbooks/unicorn
