[submodule "cookbooks/htop"]
	path = cookbooks/htop
	url = https://github.com/phlipper/chef-htop.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build
