[submodule "cookbooks/htop"]
	path = cookbooks/htop
	url = https://github.com/phlipper/chef-htop.git
[submodule "cookbooks/vim"]
	path = cookbooks/vim
	url = https://github.com/opscode-cookbooks/vim.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = https://github.com/fnichol/chef-ruby_build
[submodule "cookbooks/subversion"]
	path = cookbooks/subversion
	url = git@github.com:benjaminvialle/MarkUs-cookbook-suversion.git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git@github.com:benjaminvialle/MarkUs-cookbook-postgresql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = https://github.com/opscode-cookbooks/openssl
[submodule "cookbooks/users"]
	path = cookbooks/users
	url = git@github.com:benjaminvialle/MarkUs-cookbook-users.git
